/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


/* font-family: 'PT Sans Narrow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* font-family: 'Satisfy', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


* {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: black;
    color: white;
}

/* ==========
Global Style
============= */

.base {
    padding: 5rem 0;
}

/* ==========
Banner Area
============= */

.font {
    margin: 20px 0;
}

h1 span, .wrap {
    font-family: 'Satisfy', cursive !important;
}

a {
    color: #fff;
    text-decoration: none;
}