@media (min-width:1200px) {
    .brand-max {
        display: none !important;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .brand-max {
        display: none !important;
    }
}

@media (max-width: 991px) {
    nav {
        display: flex !important;
        background-color: rgba(0, 0, 0, 0.75) !important;
    }

    nav .brand-min {
        display: none;
    }

    nav .navbar-toggler {
        border: 0;
        
    }

    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline-offset: 0;
        border: 0;
        box-shadow: none;
    }
    
    .navbar-toggler {
        color: white;
        border: 0;
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: none;
        font-size: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .base {
        padding: 2rem 0;
    }

    .discover .section-button .btn {
        width: 160px;
        font-size: 12px;
        padding: 0 4px;
        font-weight: 300 !important;
        letter-spacing: 0;
    }

}

@media (max-width: 768px) {
    .base {
        padding: 1rem 0;
    }

    header .navbar .navbar-brand,
    .discover .section-content .section-heading {
        font-size: 20px;
    }

    .follow {
        padding-bottom: 1rem;
    }

    .banner .section-content .section-icon .icon {
        font-size: 60px;
        margin-top: 20px;
    }

    .section-content .section-heading {
        font-size: 25px;
    }

    .section-content .section-text {
        font-size: 16px;
    }


}

@media (max-width: 576px) {
    .base {
        padding: 0;
    }

    header .navbar .navbar-brand {
        font-size: 18px;
    }

    .follow {
        padding-bottom: 1rem;
    }

    .header-content .header-text,
    .header-content .header-title {
        font-size: 50px;
    }

    .section-content .section-text {
        font-size: 14px;
    }

    .discover .section-button .btn {
        width: 150px;
        font-size: 12px;
        padding: 0 4px;
        font-weight: 300 !important;
        letter-spacing: 1px;
    }
    .footer-1 .section-content .section-text,
    .footer-1 .section-content .section-text .footer-list{
        margin: 0;
    }
}

@media (max-width: 499px) {
    .testimonial-card .card.slick-active.slick-center {
        transform: scale(1);
    }

}

@media (max-width: 481px) {

    .header-content .header-text, .header-content .header-title{
        font-size: 40px;
    }
    footer form {
        flex-direction: column;
    }

    footer form input[type='text'] {
        width: 100% !important;
    }

    .footer-1 form button {
        width: 40% !important;
        margin-top: 0.5rem;
    }

    .discover .section-button .btn {
        width: 40% !important;
        font-size: 12PX;
        margin: 0;
    }

    .section-button button {
        padding: 2% 8%;
        font-size: 13px;
    }

    .wheel .img-bottom{
        bottom: -380px;
    }

}