@import url(./_global.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ============
Navigation bar 
=============== */

header {
    text-transform: uppercase;
}

header .navbar .navbar-brand {
    letter-spacing: 0px;
    word-spacing: -1px;
    font-weight: bold;
    color: white;
}

header ul>li {
    font-size: 15px;
    margin: 0 10px;
    width: fit-content;
}

header nav ul a {
    color: white !important;
}

header ul>.nav-item:hover {
    font-weight: 600;
}

header ul>.nav-item a:hover::after {
    display: block;
    content: '';
    position: relative;
    bottom: 0;
    margin: auto;
    border-bottom: 2px solid white;
    width: 50%;
    color: white;
}

header ul>.nav-item .active {
    font-weight: 600;
    color: white;
}

header ul>.nav-item .active::after {
    display: block;
    content: '';
    position: relative;
    bottom: 0;
    margin: auto;
    border-bottom: 2px solid white;
    width: 50%;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -3px;
    right: -3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down-arrow{
    border: 1px solid white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.down-arrow i{
    font-size: 23px;
    color: white;
}
/* ============
Contact Icon
=============== */

.follow-icon {
    display: inline-flex;
    justify-content: space-around;
}

.follow-icon li {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 16px;
    color: white;
}

.follow-icon a {
    text-decoration: none;
}

.follow-icon a:hover i {
    transform: scale(1.2);
}

.follow-icon .facebook {
    background-color: #395B98;
}

.follow-icon .twitter {
    background-color: #54ACF0;
}

.follow-icon .pinterest {
    background-color: #CB2227;
}

.follow-icon .instagram {
    background: linear-gradient(56deg, rgba(228, 92, 84, 1) 26%, rgba(211, 50, 129, 1) 47%, rgba(161, 67, 161, 1) 80%);
}

/* ============
Image Slider
=============== */

.image-slider div {
    height: 95vh;
    width: 100%;
}

.image-slider .img1,
.image-slider .img3 {
    background: linear-gradient(0deg, rgba(0,0,0,0.33657212885154064) 100%, rgba(0,0,0,0) 100%), url(../images/header-bg.jpg);
    background-size: cover;
}

.image-slider .img2,
.image-slider .img4 {
    background: linear-gradient(0deg, rgba(0,0,0,0.33657212885154064) 100%, rgba(0,0,0,0) 100%), url(../images/testimonials-bg.jpg);
    background-size: cover;
}

.slick-arrow {
    display: none !important;
}
.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}
.slick-dots li button {
    size: 20px;
}

header .slick-dots{
    margin-top: 0;
    bottom: 25px !important;
}

header .slick-dots li{
    top: -1px;
    background-color: white;
}

header .slick-dots .slick-active{
    background-color: transparent;
    border: 1px solid white;
}
.header-content {
    height: 70% !important;
    width: 50%;
    color: white !important;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 11%;
    left: 25%;
}

.header-content .header-title {
    font-size: 5vw;
    text-transform: capitalize;
    font-family: 'Apple Chancery', cursive;
    color: var(--text-color);
    font-style: italic;
    margin: 0;
}

.header-content .header-text {
    font-size: 5.5vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-button span {
    writing-mode: vertical-rl;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-button .h-btn {
    background-color: var(--icon-color);
    border-radius: 0;
    height: 25%;
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: -50px;
    right: 30px;
}

/* ============
Section Content
=============== */
.section-content {
    color: black;
    text-align: center;
}

.section-content .section-text {
    margin: 20px 0;
}

.section-content .section-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin: 20px;
}

/* ============
Section Icon
=============== */

.section-icon {
    text-align: center;
    margin: auto;
}

.icon-content {
    text-align: center;
}

.icon-content .icon-heading {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

/* ============
Card
=============== */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card {
    border: 0;
    border-radius: 0;
    padding: 15px;
    width: 100%;
}

.card img {
    height: 230px;
    object-fit: cover;
    border-radius: 0;
}

.card .card-title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.card .card-text {
    font-weight: 400;
    text-transform: capitalize;
}

.card .card-footer {
    background-color: white;
    border-top: 0;
}

.card hr {
    margin: 0;
}

.card .text-muted {
    color: rgb(17, 202, 168) !important;
    font-size: 15px;
}

/* ============
Section Button
=============== */


.section-button {
    text-align: center;
}

.section-button button {
    margin: 25px 0;
    background-color: var(--button-color);
    padding: 1% 5% ;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.section-button button:hover {
    background-color: var(--icon-color);
    color: white;
}

/* ============
Banner Area
=============== */

.banner {
    color: black;
    background-color: var(--second-background);
}

.banner .section-content .section-icon .icon {
    font-size: 80px;
    line-height: 20px;
}

.banner .section-icon .icon-content .icon-heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}


/* ============
Service Area
=============== */

.service img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border: 0;
    border-radius: 0;
}

/* ============
Tours Area
=============== */

.tour {
    color: black;
    background-color: var(--second-background);
}

.wheel {
    position: relative;
    width: fit-content;
}

.wheel .img-top {
    opacity: 0.5;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: -30px;
}

.wheel .img-bottom {
    opacity: 0.5;
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: -300px;
    right: -200px;
}

.tour .row:first-child {
    margin: 20px 0;
}

.tour .section-content .section-icon .icon {
    font-size: 40px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100px;
    width: 100px;
    font-weight: 200;
    margin: 10px 0;
}

.tour .section-content .section-icon .icon-heading {
    font-size: 14px;
    padding: 0 20px;
}

.tour .section-content .section-icon .section-text {
    margin: 0 2px;
}

.tri {
    padding: 0;
    border: 2px solid var(--icon-color);
    background-color: var(--icon-color);
    border-radius: 62% 38% 37% 63% / 40% 39% 61% 60%;
    height: 100px;
    width: 50%;
    margin: auto;
}

.tour .section-content .section-icon .icon:hover i{
    transform: scale(1.2);
}

/* ============
Testimonial Area
=============== */

.testimonial-card .card {
    background-color: var(--third-background);
    width: 550px !important;
    padding: 20px 50px;
}

.testimonial-card .card .card-body {
    padding-right: 50px;
}

.testimonial-card .card.slick-active.slick-center {
    background-color: var(--center-slide-background);
    transform: scale(1.09);
    padding: 20px 50px;
    margin: 0 35px;
    z-index: 1;
}

.testimonial-card .card .card-text i {
    margin: 0 1px;
    color: var(--star-icon-color);
}

.testimonial-card .card .card-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.slick-dots {
    position: relative;
    margin: 10px 0;
    bottom: 0 !important;
}

.slick-dots li {
    background-color: var(--icon-color);
    opacity: 0.5;
    height: 20px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.slick-dots .slick-active {
    background-color: var(--icon-color);
    opacity: 1;
}

.slick-dots li button {
    display: none;
}

/* ============
Blog Area
=============== */
.blog-card .card {
    padding: 0 ;
}

.blog-card .card .card-title {
    text-transform: capitalize;
    font-size: 16px;
} 

.blog-card .card .card-text {
    font-size: 15px;
    text-overflow: ellipsis;
    margin-bottom: 1px; 
} 

.blog-card .card-footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--footer-color);
    font-weight: 600;
    font-size: 15px;
}

/* ============
Follow Area
=============== */

.follow-slider img {
    height: 215px;
    object-fit: cover;
}

.follow-slider .card {
    height: fit-content;
    border: 0;
    padding: 0;
}

/* ============
Discover Area
=============== */

.discover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3925945378151261) 64%, rgba(0, 0, 0, 0) 100%), url(../images/discover.jpg);
    background-position: right;
    background-size: 150%;
    mix-blend-mode: hard-light;
    padding: 5rem 0;
}

.discover .section-content .section-heading {
    display: flex;
    flex-direction: column;
}

.discover .section-button .btn {
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ============
Footer Area
=============== */

footer {
    color: white;
}

.footer-1 {
    background-color: var(--footer-color);
}

.footer-1 .row:first-child .section-heading {
    text-transform: capitalize;
}

.footer-1 .section-heading,
.footer-1 .section-text {
    text-align: start !important;
    margin-left: 0;
    color: white;
}

.footer-1 .section-text {
    font-size: 14px;
    margin-top: 0;
}

.footer-1 form button {
    width: 15%;
    border-radius: 0;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--icon-color);
}

.footer-1 form button:hover {
    border: 1px solid var(--icon-color);
    background-color: transparent;
}

.footer-1 .copyright-text p {
    text-transform: capitalize;
}

.footer-1 .footer-center {
    margin: 30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footer-1 .follow-icon {
    justify-content: flex-start;
}

.footer-1 .follow-icon li:first-child {
    margin-left: 0;
}

.footer-1 .footer-center>.col-md-3 {
    padding-right: 20px;
}

.footer-1 .footer-center .section-content .section-heading {
    font-size: 18px;
}

.footer-1 .footer-center .section-content .section-text {
    font-size: 14px;
}

.footer-1 .footer-center .section-content .section-text p{
    padding-right: 30px;
}

.footer-1 .footer-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-1 .footer-list li {
    width: 50%;
    line-height: 25px;
    padding-bottom: 10px;
}

.footer-1 .section-text a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.footer-list li a{
    margin-left: 0 !important;
}

.footer-list li:hover a{
    text-decoration: underline;
}