@font-face {
    font-family: 'logo-font';
    src: url('../font/Logo-Rubik-VariableFont_wght.ttf') format('ttf'),
        url('../font/Logo-Rubik-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico-Regular.ttf') format('ttf'),
}

/* @font-face {
    font-family: 'heading-font';
    src: url('../font/Heading-Rubik-Italic-VariableFont_wght.ttf') format('ttf'),
        url('../font/Heading-Rubik-VariableFont_wght.ttf') format('ttf');
}


@font-face {
    font-family: 'text-font';
    src: url('../font/Rubik-Italic-VariableFont_wght.ttf') format('ttf'),
        url('../font/Rubik-VariableFont_wght.ttf') format('ttf');
} */
