/* max-width: less than or equal to the width */
/* min-width: greater than or equal to the width */

/* less than or equal to 991px */
@media (max-width: 991px) {
    .menu .menu-card .right-menu .tab-pane.active .section-content .section-text ul li::after {
        content:
            ". . . . . . . ."
            " . . . . . . . ."
            " . . . . . . . ."
            " . . . . . . . ."
    }

    header #top-nav {
        background-color: black;
    }

    header #collapsibleNavId {
        margin-left: 5%;
    }

    header nav ul.navbar-nav.px-5 {
        padding-bottom: 2rem;
        border: 0;
        padding-top: 0 !important;
        padding-left: 0 !important;
    }

    .header-text span.food.position-absolute {
        font-size: 120px;
        text-align: center;
        left: 0;
        width: 100%;
    }

    .image-slider::after{
        padding-left: 0;
    }

    .service .serivce-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        position: relative;
    }

    .section-content .sub-section-content .sub-text p {
        padding-bottom: 5px;
    }

    .section-content .sub-section-content .sub-text .sub-content .address {
        line-height: 25px;
    }

    footer .footer-content .footer-text p:first-child {
        padding-right: 0 !important;
    }
}



/*  less than or equal to the width 991px */
@media (max-width: 991px) and (min-width: 769px) {
    .base {
        padding: 3rem 0;
    }

    .page-btn {
        width: 180px;
    }

    .banner .banner-image img,
    .service .serivce-image img {
        width: 95%;
    }

    .location .section-content,
    .location .sub-section-content {
        padding: 10px 0;
    }

    .location .section-content .section-text {
        padding: 10px 0;
        padding-bottom: 5px;
    }

    .section-content .sub-section-content .sub-text .sub-content {
        padding-right: 0 !important;
    }

    .service .service-layer .bg-upper-layer {
        padding: 3rem 0;
    }

    .location .sub-text .col-md-6 .col-sm-12 {
        padding-right: 0;
    }

    .menu .menu-card .left-menu button.nav-link.active::after,
    .menu .menu-card .left-menu button.nav-link:hover::after {
        right: -24.2px;
    }

    .offer .offer-content .logo-text {
        left: 45%;
        top: -5%;
        right: 40%;
    }

    .follow-content .section-heading {
        line-height: 45px;
    }

    .follow-content .section-content .section-text p {
        font-size: 15px;
    }

    .inquiry .section-heading {
        padding-right: 3rem;
    }

    .inquiry-img img {
        width: 100%;
    }

    footer .footer-location .right-border:first-child {
        border-right: 0;
    }
}

/*  less than or equal to the width 768px */
@media (max-width: 768px) {

    .base {
        padding: 2rem 0;
    }

    .section-content .section-heading {
        font-size: 32px;
    }

    .section-content .sub-section-content .sub-heading {
        font-size: 18px;
    }

    .section-content .sub-section-content .sub-text a {
        font-size: 16px;
    }

    .header-text span.food.position-absolute {
        font-size: 90px;
    }

    .image-slider::after {
        font-size: 65px;
        bottom: -20px;
    }

    .service .bg-layer {
        padding: 0;
    }

    .service .bg-upper-layer {
        padding: 2rem 0;
    }

    .social .follow-content .follow-icon a i {
        font-size: 20px;
    }

    .section-content .section-text {
        padding: 5px 0 !important;
        font-size: 14px
    }

    .follow-content .section-heading {
        line-height: 40px;
        font-size: 35px;
    }

    .inquiry .section-heading {
        padding-right: 1rem;
        padding-top: 1rem;
        font-size: 20px;
    }

    .inquiry-img img {
        padding-top: 30px !important;
        width: 100%;
    }

    .page-btn {
        padding: 10px 0;
        font-size: 12px;
        width: 170px;
    }

    footer .footer-location .right-border:first-child {
        border-right: 0;
    }
}


@media (max-width: 576px) {

    .menu {
        background-size: 150%;
    }

    .section-content .section-text {
        padding: 10px 0;
    }

    .banner .section-content {
        padding-top: 25px;
    }

    .header-text span.food.position-absolute {
        font-size: 90px;
    }

    .image-slider::after {
        font-size: 55px;
        bottom: -20px;
    }

    .gallery .gallery-image img {
        padding-block: 5px;
    }

    .phone,
    .logo-text {
        display: none !important;
    }

    .offer-text {
        justify-content: center !important;
    }

    .offer-text .section-content,
    .offer-text .section-content .play-store button {
        text-align: center !important;
        margin: auto;
    }

    .inquiry-img img {
        padding-top: 70px !important;
        width: 100%;
    }
    .social .follow-content{
        height: 400px;
    }

    .footer-icon {
        padding: 10px 0;
    }
}

@media (max-width: 481px) {

    .base {
        padding: 2rem 0;
    }

    .section-content .section-heading {
        font-size: 23px;
    }

    .section-content .section-text {
        padding: 10px 0 !important;
        font-size: 14px;
        line-height: 20px;
    }
    
    .section-content .sub-section-content .sub-heading {
        font-size: 17PX;
    }

    .section-content .sub-section-content .sub-text a {
        font-size: 15PX;
    }

    .location .section-content .section-text p,
    .gallery .section-content .section-text p {
        font-size: 14px;
        padding: 0;
        font-weight: 400;
    }

    .location .section-content .section-text p,
    .menu .section-content .section-text p,
    .contact .section-content {
        margin-bottom: 0 !important;
    }

    .section-content .section-footer p {
        font-size: 15px;
    }

    .banner .section-content,
    .contact .section-content {
        padding-top: 25px;
    }

    .location .section-content {
        padding-bottom: 0;
    }

    .location .sub-section-content {
        padding: 0;
        padding-bottom: 20px;
    }

    .location img {
        padding-top: 10px;
    }

    .menu .menu-card .right-menu .menu-item .items {
        padding: 30px 15px;
    }

    .contact form div:last-child {
        padding-bottom: 20px;
    }

    .gallery-image img {
        padding: 10px 0;
    }

    .copy-right {
        padding: 10px 0;
        flex-direction: column;
    }

    .copy-right p {
        margin-bottom: 1px;
    }

    footer .footer-content .footer-text .copy-right p:last-child a {
        border: 0;
        padding: 0 !important;
    }

    .inquiry .section-heading {
        padding-right: 0rem;
        font-size: 20px;
    }

    .inquiry .page-btn {
        width: 170px;
    }

    .inquiry-img img {
        padding-top: 95px !important;
    }

    footer .footer-content .footer-text p:first-child {
        margin-bottom: 5px;
    }

    footer .footer-content .footer-heading {
        font-size: 17px;
    }

    footer .about-company {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    footer .about-company .top {
        width: 100% !important;
    }
}

/* less than 430 px */
@media (max-width: 430px) {

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px
    }

    .section-content .sub-section-content .sub-text p {
        font-size: 14px;
    }

    .header-text span.food.position-absolute {
        font-size: 60px;
    }

    .image-slider::after {
        font-size: 40px;
        bottom: -15px;
    }

}