@import url(../css/_global.css);

/* ========== Header Area ==========*/

/* ============
Navigation Bar
=============== */


/* marquee */
marquee {
    background-color: var(--orange-color);
    border-bottom: 1px solid var(--orange-color);
}

header .info-bar {
    font-size: 14px;
    background-color: var(--orange-color);
    color: white;
    padding: 6px 0;
    border-inline: 1px solid var(--orange-color);
}

header .info-bar p {
    margin-bottom: 0;
}

header .info-bar .right-info .info-contact {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* Navbar */

header .navbar .navbar-brand {
    font-size: 28px;
    padding: 15px 0;
}

header .navbar .navbar-brand img {
    width: 28px;
    height: 28px;
}

header nav {
    border-bottom: 1px solid white;
    background-color: transparent;
}

header nav ul.navbar-nav.px-5 {
    border-left: 1px solid white;
    padding: 15px 10px;
}

header nav a {
    color: white !important;
}

header nav ul li a {
    font-size: 13.5px !important;
    letter-spacing: 1px;
    font-weight: 400 !important;
    width: fit-content;
    line-height: 18px;
}

header nav ul li .nav-link.active::after,
header nav ul .nav-item .nav-link:hover::after {
    display: block;
    content: '';
    position: relative;
    bottom: -2px;
    margin: auto;
    border-bottom: 1px solid white;
    width: 80%;
}

/* header nav ul li .nav-link:hover {
    /* text-decoration: underline white; 
    border-bottom: 1px solid white;
} */

header nav ul li .nav-link.active {
    font-weight: 600 !important;
    font-size: 14px;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline-offset: 0;
    border: 0;
    box-shadow: none;
}

.navbar-toggler {
    color: white;
    border: 0;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: none;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ============
Image Slider
=============== */

.image-slider {
    border-bottom: 5px solid var(--orange-color);
}

.image-slider img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(0.3);
}

.slick-prev:before,
.slick-next:before {
    color: white !important;
    font-size: large;
}

.slick-prev,
.slick-next {
    transform: scale(3);
}

.slick-prev:hover,
.slick-next:hover {
    transform: scale(3.2);
}

.slick-next {
    right: 10%;
}

.slick-prev {
    left: 10%;
    z-index: 1;
}

.image-slider::after {
    content: 'is our philoshopy';
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0;
    font-size: 90px;
    text-align: center;
    width: 100%;
    bottom: -30px;
    padding-left: 150px;
}

.header-text span.food.position-absolute {
    font-size: 155px;
    z-index: 1;
    bottom: 40px;
    left: 20%;
}

/* ========== Main Area ========== */

/* ============
Banner Area
=============== */

.banner .banner-spacing {
    padding: 5% 0;
}

.banner .banner-image {
    height: 100%;
}

.banner .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.banner .section-content .section-heading img {
    width: 35px;
    height: 35px;
}

.banner .lower-text p {
    font-size: 50px;
    width: 100%;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

/* ============
Location Area
=============== */

.location .section-content .section-heading,
.location .section-content p,
.location .section-content .sub-section-content .sub-heading,
.section-content .sub-section-content .sub-text em {
    color: black !important;
}

.location .section-content,
.location .sub-section-content {
    padding: 20px 0;
}

.location img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============
Service Area
=============== */
.service .bg-layer .layer-image {
    display: none;
}

.service .bg-layer {
    padding: 20px 0;
}

.service .serivce-image {
    position: relative;
}

.service .serivce-image img {
    width: 96%;
    height: 180%;
    object-fit: cover;
    top: -180px;
    position: absolute;
}

.service .bg-upper-layer {
    padding-bottom: 10rem;
}

/* ============
Menu Area
=============== */

.menu {
    background-image: url(../images/menu.avif);
    background-size: 100%;
    background-position-y: 200px;
    background-origin: content-box;
}

.menu .section-content .section-heading,
.menu .section-content p {
    color: black !important;
}

.menu .section-content .section-text {
    padding: 0 !important;
}

.menu .section-content .section-text p {
    font-weight: 500;
    color: #383838 !important;
    letter-spacing: 1px;
}

.menu .menu-card {
    background-color: var(--glass-background);
}

/* Menu area left side */
.menu .menu-card .left-menu .menu-list {
    /* background-color: var(--glass-background); */
    padding: 5% 4%;
}

.menu .menu-card .left-menu i {
    padding: 0 10px;
    color: var(--orange-color);
}

.menu .menu-card .nav-pills .nav-link.active,
.menu .menu-card .nav-pills .show>.nav-link {
    background-color: var(--orange-color);
    color: white;
}

.menu .menu-card .nav-pills .nav-link.active .right {
    border-left-color: var(--orange-color);
}

.menu .menu-card .nav-pills .nav-link.active i,
.menu .menu-card .nav-pills .show>.nav-link i,
.menu .menu-card .nav-pills .nav-link:hover i {
    color: white !important;
}

/* traingle  */

.menu .menu-card .left-menu button {
    width: 100%;
    text-align: left;
    color: black;
    border-radius: 0;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin: 1px 0;
}

.menu .menu-card .left-menu button.nav-link {
    transition: none;
}

.menu .menu-card .left-menu button.nav-link:hover {
    background-color: var(--orange-color);
    color: white;
}

.menu .menu-card .left-menu button.nav-link.active::after,
.menu .menu-card .left-menu button.nav-link:hover::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid var(--orange-color);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

/* Menu area right side */

.menu .items {
    display: flow-root;
    padding-top: 60px;
}

.menu .menu-card .right-menu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 100%), url(../images/menu2.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}

.menu .right-menu .section-content .section-heading,
.menu .right-menu .section-content .section-text,
.menu .menu-accord .section-content .section-heading,
.menu .menu-accord .section-content .section-text {
    color: white !important;
}

.menu .right-menu .section-content .section-heading,
.menu .menu-accord .section-content .section-heading {
    font-size: 22px;
}

.menu .section-content .section-heading span {
    display: block;
    width: 15%;
    border-bottom: 2px solid var(--green-color);
    margin: 5px 0;
}

.menu .section-content .section-text ul li:first-child {
    padding-top: 20px;
}

.menu .section-content .section-text ul li span {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    padding: 3px 0;
    overflow-x: hidden;
}

.menu .section-content .section-text ul li {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
}

.menu .tab-pane.active .section-content .section-text ul li::after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . "
        " . . . . . "
        " . . . ."
        " . . . "
}

.menu .section-content .section-text ul.dots span:first-child {
    padding-right: 0.7em;
    background: inherit;
    float: left;
}

.menu .section-content .section-text ul.dots span:last-child {
    float: right;
}

.menu .section-content .section-text ul.dots span+span {
    background: inherit;
    position: relative;
    z-index: 1;
}

/* accordion */
.accordion-item:first-of-type .accordion-button,
.accordion-item .accordion-button,
.accordion-item:last-of-type .accordion-collapse,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
    font-weight: 600;
}

.accordion-button::after {
    filter: brightness(0) invert(0);
}

.accordion-item {
    background: transparent !important;
}

.menu-accord .accordion-item .collapsed {
    background-color: var(--glass-background) !important;
}

.menu-accord .accordion-item .accordion-button:not(.collapsed) {
    background-color: var(--orange-color);
    color: #fff;
}

.accordion-body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 100%), url(../images/menu2.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}

.menu .menu-accord .items {
    padding-top: 20px;
}

.menu .accordion-body .section-content .section-text ul li::after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . ."
        " . . . . . . . . . . . ."
        " . . . . . . . . . . . ."
        " . . . . . . . . . . . ."
}

.accordion-button:focus,
.accordion-button:active {
    border: 0;
    box-shadow: none;
}

.menu .menu-accord .section-content .section-heading span {
    width: 6%;
}

/* ============
Gallery Area
=============== */

.gallery .section-content .section-text {
    padding: 0 !important;
}

.gallery .section-content .section-text p {
    font-weight: 400;
    letter-spacing: 1px;
}

.gallery .section-content .section-footer {
    justify-content: center;
}

.gallery .section-content .section-footer img {
    width: 80px;
}

.gallery .gallery-image {
    overflow: hidden;
}

.gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.99);
    opacity: 0.89;
}

.gallery .gallery-image:hover img {
    opacity: 1;
    transform: scale(1);
}

/* ============
Offer Area
=============== */

.offer {
    background: url(../images/offer.jpg) no-repeat;
    background-size: cover;
}

.offer .offer-content {
    background-color: var(--offer-background);
}

.offer .offer-content .phone {
    height: 100%;
    width: 100%;
    float: left;
}

.offer .offer-content .logo-text {
    font-size: 26px;
    left: 43%;
    top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 25px;
    height: 100%;
}

.offer .offer-content .offer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 60px 10px;
}

.offer .offer-content .offer-text .section-heading {
    text-transform: inherit;
    color: black;
    line-height: 40px;
}

.offer .offer-content .offer-text .section-text {
    padding: 10px 0;
}

.offer .offer-content .offer-text .section-text .text-orange {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    word-spacing: 1px;
}

.offer .offer-content .offer-text .section-text .text-black {
    font-size: 12px;
    line-height: 15px;
}

.offer .offer-content .offer-text .play-store {
    padding: 10px 0;

}

.offer .offer-content .offer-text .play-store img {
    height: 35px;
    width: 35px;
}

.offer .offer-content .offer-text .play-store .store-text span:first-child {
    text-transform: uppercase;
    font-size: 11px;
}

.offer .offer-content .offer-text .play-store .store-text span:last-child {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

.offer .offer-content .offer-text .play-store button:hover {
    transform: scale(1.01);
}

/* ============
Contact Area
=============== */

.contact img {
    object-fit: cover;
}

.contact input,
.contact textarea,
.contact input:focus,
.contact input:active,
.contact textarea:focus,
.contact textarea:active {
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 0;
    background: transparent;
    padding-inline: 0;
}

.contact input:hover,
.contact textarea:hover,
.contact input:focus,
.contact input:active,
.contact textarea:focus,
.contact textarea:active {
    border-bottom: 2px solid white;
    box-shadow: none;
    color: white;
}

.contact textarea {
    resize: none;
}

.contact input:hover::placeholder,
.contact textarea:hover::placeholder,
.contact input:focus::placeholder,
.contact input:active::placeholder,
.contact textarea:focus::placeholder,
.contact textarea:active::placeholder {
    color: white !important;
    font-weight: 400;
}

.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover,
.contact input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
    -webkit-text-fill-color: white;
    background-color: transparent;
}

/* ============
Social Media Area
=============== */

.social img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.social img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.social .follow-content .follow-icon a i,
.follow-content .section-content .section-heading,
.follow-content .section-content .section-text p {
    color: black;
}

.social .follow-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    padding: 50px 0;
}

.social .follow-content>div {
    width: 100%;
    margin: auto;
}

.follow-content .section-content .section-text p {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.social .follow-content .follow-icon {
    width: fit-content;
}

.social .follow-content .follow-icon a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.social .follow-content .follow-icon a i {
    font-size: 23px;
}

.social .follow-content .follow-icon:hover a {
    background-color: var(--green-color);

}

.social .follow-content .follow-icon:hover a i {
    transform: scale(1.1);
    /* background: linear-gradient(200deg, rgba(76, 104, 215, 1) 35%, rgba(138, 58, 185, 1) 45%, rgba(188, 42, 141, 1) 55%, rgba(233, 89, 80, 1) 65%, rgba(251, 173, 80, 1) 75%, rgba(252, 204, 99, 1) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

/* ============
Inquiry Area
=============== */
.inquiry {
    border-bottom: 1px solid black;
}

.inquiry .section-heading {
    padding-right: 7rem;
    padding-top: 2rem;
}

.inquiry-img img {
    position: relative;
    top: 0;
    bottom: 0;
    width: 60%;
}

/* ========== Footer Area ==========*/

footer {
    background-color: var(--footer-background) !important;
    background: url(../images/logo.png) repeat-x;
    background-position: bottom;
    background-size: 30px;
}

/* ============
Footer location Area
=============== */

footer .footer-location .right-border {
    border-right: 1px solid rgba(128, 128, 128, 0.356);
    margin: 10px 0;
}


footer .section-content .section-heading img {
    width: 35px;
    height: 35px;
}

footer .section-content .sub-section-content .sub-text a {
    color: var(--orange-color) !important;
}

footer .section-content .sub-section-content .sub-text a:hover {
    color: var(--green-color) !important;
}


/* ============
Link area
=============== */


footer .footer-border {
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    margin: 20px 0;
}

footer .footer-content .footer-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    text-transform: capitalize;
}

footer .footer-content .footer-text {
    font-size: 15px;
    font-weight: 200;
    line-height: 25px;
}

footer .footer-content .footer-text .copy-right p:last-child a {
    border-left: 1px solid rgba(128, 128, 128, 0.9);
}

footer .footer-content .footer-text p:first-child {
    padding-right: 5rem;
}

footer .footer-content .footer-text ul li {
    padding-bottom: 10px;
}

footer .footer-content .footer-text a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

footer .footer-content .footer-text .copy-right a:hover {
    text-decoration: underline;
    color: var(--orange-color);
}

footer .footer-content .footer-text ul li:nth-child(2n) a:hover {
    text-decoration: underline;
    color: var(--orange-color);
}

footer .footer-content .footer-text ul li:nth-child(2n+1) a:hover {
    text-decoration: underline;
    color: var(--green-color);
}

/* ============
Footer Icon
=============== */

footer .footer-content .footer-icon i {
    padding-right: 10px;
    font-size: 20px;
}

footer .footer-content .footer-icon a {
    text-decoration: none;
}

footer .footer-content .footer-icon a:hover .uil-facebook-f {
    color: #3b5998;
}

footer .footer-content .footer-icon a:hover .uil-twitter {
    color: #00acee;
}

footer .footer-content .footer-icon a:hover .uil-instagram {
    background: linear-gradient(200deg, rgba(76, 104, 215, 1) 35%, rgba(138, 58, 185, 1) 45%, rgba(188, 42, 141, 1) 55%, rgba(233, 89, 80, 1) 65%, rgba(251, 173, 80, 1) 75%, rgba(252, 204, 99, 1) 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .footer-content .footer-icon a:hover .uil-linkedin {
    color: #0A66C2;
}

/* ============
Go to top button
=============== */

footer .top {
    text-align: right;
}

footer .top .top-icon {
    margin-left: auto;
    border: 1px solid var(--green-color);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .top .top-icon i::before {
    font-size: 33px;
}

footer .top .top-icon:hover {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}