img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.single-item {
    border: 1px solid grey;
    width: 50%;
    margin: auto;
}

.multiple-items {
    border: 1px solid grey;
}

.variable-width img,
.one-time img {
    border: 1px solid red;
}


.data h3,
.center h3,
.autoplay h3,
.add-remove h3,
.filtering h3,
.single-item-rtl h3,
.extra h3 {
    background: rgba(2, 2, 49, 0.212);
    color: #080346;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}
.slider-nav img {
    margin: 0 5px;
    width: 90%;
}

.slider-for img{
    object-fit: contain;
    width: 100%;
}



  