@media (min-width: 1200px) {
    .review .review-slider .card {
        height: 250px;
        width: 400px;
    }
}

/* =====================
 less then 1920px 
===================== */
@media (min-width: 1920px) {

    .info-img,
    .info-img img {
        width: -webkit-fill-available;
	width: fill-available;
	width: -moz-available;
        height: 100%;
        object-fit: cover;
    }

}
@media (max-width: 1920px) {

    .info-img,
    .info-img img {
        width: -webkit-fill-available;
	width: fill-available;
	width: -moz-available;
        height: 100%;
        object-fit: cover;
    }

}

@media (max-width:1500px) {
    .service .service-card .card {
        padding-block: 30px;
    }
}

/* =====================
less then 1400px 
=====================*/
@media (max-width:1400px) {
    .info .info-content {
        padding-left: 62px;
        width: 544px;
    }

    .service .service-card {
        padding: 0 10px;
    }

    .articles {
        margin-left: 100px;
    }

    .articles .articles-content .section-text p {
        width: auto;
    }

    .about .about-img img {
        width: 95%;
        height: 100%;
        object-fit: cover;
    }

    .message {
        right: 50px;
        bottom: 50px;
    }

}

/* =====================
Less then 1300px 
===================== */
@media (max-width:1300px) {
    header .right-area .call-section span span {
        display: none;
    }

    .info .info-content {
        padding-left: 10px;
        margin-inline: auto;
        flex-shrink: inherit;

    }

    .service .service-card .card {
        height: 400px;
        padding-block: 0;
        justify-content: center;
    }

    .service .service-card .card .icon-heading h6{
        height: 50px;
        overflow: hidden;
        white-space: wrap;
        text-overflow: clip;
        margin: 19px 0;
        padding: 0;
    }

    .service .service-card .card .text p {
        height: 160px;
        overflow: hidden;
        white-space: wrap;
        text-overflow: clip;
    }

    footer .row:nth-child(3) ul .icon-box {
        width: 300px;
        padding: 16px 20px;
    }

   

}

@media (max-width:1300px) and (min-width:991px) {

    .work .work-img,
    .work .work-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

@media (max-width:1200px) and (min-width:992px) {
    .info .info-content {
        width: 100%;
    }

}

/* =====================
less then 1200px 
=====================*/
@media (max-width:1200px) {

    .base,
    footer {
        padding-block: 74px;
    }

    header .right-area .navbar-nav:first-child {
        display: none;
    }

    header .container-fluid {
        padding-inline: 20px;
    }

    header nav img {
        margin-right: 0px;
    }

    /* .review .review-slider {
        max-width: 750px;
    } */

    footer .row:nth-child(3) ul .icon-box {
        width: 240px;
        padding: 16px 20px;
    }

}

/* =====================
    less then 991px 
===================== */
@media (max-width:991px) {

    .base,
    .info .info-content,
    footer {
        padding-block: 54px;
    }

    header .right-area .navbar-nav:nth-child(2),
    header .right-area .navbar-nav:nth-child(3) {
        position: absolute;
        top: 14px;
        right: 15%;
    }

    header .right-area .navbar-nav:nth-child(2) div {
        margin-inline: 20px;
        padding-inline: 10px;
    }

    header .right-area {
        align-items: flex-start;
    }

    header nav .navbar-collapse .right-area .navbar-nav {
        margin: 10px 0;
    }

    header .navbar-nav .dropdown-menu {
        width: fit-content;
        border: 0;
        background-color: black;
    }

    header nav .dropdown-menu a {
        background-color: black;
    }

    .content-section .section-heading h3 {
        width: 100%;
        height: 100%;
        margin-bottom: 14px;
    }

    .content-section .section-text h5 {
        margin: 0;
        margin-bottom: 14px;
    }

    .info .info-content {
        padding-block: 94px;
        margin-inline: auto;
        min-width: 720px;
    }

    .work .work-img {
        float: right;
    }

    .work .icon-box {
        left: -85px;
    }

    .service .service-content .content-section .section-heading h4,
    .service .service-content .content-section .section-text p,
    .about .row:first-child .content-section .section-text,
    .about .first-about .content-section .section-text p,
    .about .first-about .content-section .section-heading {
        width: 100%;
        height: 100%;
    }

    .service .service-card {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* .review .review-slider {
        max-width: 600px;
    } */

    .faq .faq-img,
    .faq .icon-box,
    .about .about-img {
        display: none;
    }

    .faq .section-text ul li {
        width: 100%;
    }

    .about .row:last-child .content-section .section-text ul li {
        width: 50%;
    }

    .about .row:last-child .content-section .section-text ul,
    .industry .industry-icon {
        flex-wrap: wrap;
    }

    .articles {
        margin-left: 0;
    }

    .articles .articles-content {
        max-width: 720px;
        margin-inline: auto;
    }

    .articles .articles-slider {
        margin-top: 30px;
    }

    .articles .slick-prev {
        left: 45% !important;
    }

    .articles .slick-next {
        right: 47% !important;
    }

    .industry .industry-icon .icon-box {
        margin-block: 10px;
    }

    footer .row:nth-child(3) ul .icon-box {
        width: 337px;
    }

    footer .newsletter .content-section .section-heading,
    footer .newsletter .content-section .section-text {
        text-align: center;
        width: 100%;
        justify-content: center;
    }

}

/* =====================
less then 768px 
===================== */
@media (max-width:768px) {

    .base,
    .info .info-content,
    footer {
        padding-block: 34px;
    }

    .work .work-img,
    .info-img {
        display: none;
    }

    .work .work-content .content-section .section-text ul li {
        margin-right: 0;
    }

    .info .info-content {
        min-width: 540px;
    }

    /* .review .review-slider {
        max-width: 100%;
    } */
    .review .review-slider {
        max-width: 75%;
    }

    .review .review-slider .card .card-heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .review .review-slider .card {

        display: flex;
        justify-content: flex-start;
    }


    .about .row:last-child .row {
        display: flex;
        flex-direction: column;
    }


    /* .about .row:last-child .row .section-text {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .about .row:last-child .row .section-text h6{
        margin: 0 20px ;
    } */
    /* .about .row:last-child .row .section-text p{
        padding: 0 95px ;
    } */

    .articles .articles-content {
        max-width: 540px;
        margin-inline: auto;
    }

    .articles .slick-prev {
        left: 45% !important;
    }

    .articles .slick-next {
        right: 47% !important;
    }

    footer .row:last-child .col-12 {
        flex-direction: column;
    }

    footer .row:last-child ul li {
        margin: 0;
    }

    footer .row:last-child .col-12 .copy-right,
    footer .row:last-child .col-12 ul,
    footer .row:last-child .col-12 .follow-icon {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    footer .row:last-child .col-12 ul a {
        padding-inline: 15px;
    }

    footer .row:last-child ul li i {
        font-size: 20px;
    }
}

/* =====================    
less then 576px 
===================== */
@media (max-width:575px) {

    .content-section .section-heading h3 {
        font-size: 28px;
        width: 100%;
    }

    .content-section .section-text h5 {
        font-size: 18px;
        width: 100%;
        height: 100%;
        padding-inline: 10px;
    }

    .content-section .section-heading h4 {
        font-size: 22px;
    }

    .site-btn {
        width: 213px;
        height: 50px;
        font-size: 16px;
    }

    header .right-area .navbar-nav:nth-child(2) div {
        margin-right: 40px;
    }

    header .right-area .navbar-nav:nth-child(3) div {
        margin-right: 20px;
    }

    .banner .content-section .review-section {
        width: 308px;
        height: 80px;
    }

    .banner .content-section .review-section .policy {
        font-size: 18px;
        padding-right: 20px;
    }

    .info .info-content {
        min-width: -webkit-fill-available;
        min-width: fill-available;
        min-width: -moz-available;
        padding-left: 12px;
        max-width: fit-content;
    }

    .service .service-card .card .text p,
    .service .service-card .card .icon-heading h6{
        height: fit-content;
    }

    .service .service-card {
        padding: 0;
    }

    .service .service-card .card {
        width: 47.5%;
        padding: 50px 0;
    }

    .work .work-img,
    .review .review-content .content-section .section-text .icon-review {
        display: none;
    }

    .work .work-content .content-section .section-text ul li::before {
        width: 32px;
        height: 32px
    }

    .work .work-content .content-section .section-text ul li p {
        padding-block: 5px;
        font-weight: 300;
    }

    .work .work-content .content-section .section-text ul li {
        margin-block: 20px;
        padding-left: 45px;
    }

    .review .review-content .content-section .section-text span {
        display: block;
    }

    .about .row:last-child .content-section .section-text ul li {
        width: 100%;
    }

    .about .row:last-child .content-section .section-text ul li::before {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .review .review-slider .card {
        justify-content: center;
    }

    .review .review-btn {
        display: flex;
        flex-direction: column;
    }

    .review .review-btn .site-btn {
        margin: 0;
        margin: 5px 0;
    }

    .articles .slick-prev {
        left: 45% !important;
    }

    .articles .slick-next {
        right: 47% !important;
    }

    

    footer .newsletter .section-heading h4 {
        font-size: 22px;
    }

    footer .row:nth-child(3) ul:first-child li:first-child {
        padding-bottom: 0;
        border-bottom: 1px solid var(--footer-links);
        cursor: pointer;
    }

    footer .row:nth-child(3) ul:first-child li:first-child i:first-child {
        display: block;
    }

    footer .row:nth-child(3) ul:last-child {
        display: none;
    }
}

/* =====================
less then 480px
===================== */
@media (max-width:480px) {

    header .right-area .navbar-nav:nth-child(2),
    header .right-area .navbar-nav:nth-child(3) {
        display: none;
    }

    header nav img {
        width: 150px;
        height: 35px;
    }


    .review .review-slider {
        max-width: 100%;
    }

    .review .review-slider .card {
        padding: 30px;
        margin: 5px;
    }

    .review .review-slider button.slick-prev.slick-arrow,
    .review .review-slider button.slick-next.slick-arrow {
        display: none;
    }

    .articles .articles-slider .card {
        height: 450px;
        width: 380px !important;
    }

    .articles .articles-slider .card .card-img,
    .articles .articles-slider .card .card-img img {
        height: fit-content;
        width: inherit;
        object-fit: cover;
    }

    footer .row:nth-child(3) ul,
    footer .row:nth-child(3) ul .icon-box {
        width: 100%;
    }

    footer .subscribe input {
        margin-right: 0;
    }

    .message {
        display: none;
    }

}

@media (max-width:375px) {
    .articles .articles-slider .card {
        height: 390px;
        width: 290px !important;
    }

    .articles .articles-slider .card .card-text {
        padding: 20px 30px;
    }

    .articles .slick-prev {
        left: 45% !important;
    }

    .articles .slick-next {
        right: 45% !important;
    }

    footer .subscribe form {
        background-color: transparent;
        display: flex;
        background-color: transparent;
        flex-direction: column;
        align-items: center;
    }

    footer .subscribe form input {
        height: 50px;
        background-color: white;
        margin: 10px 0;
        border-radius: 30px;
        padding-inline: 34px;
    }


}